<%# projects.erb %>

<div class="section bc-white" id="projects">
  <h1 class=" cl-secondary ul ul--primary">Projects</h1>
  <div class="project-card-collection">
    <% data.projects.each do |project| %>
      <div class="project-card">
        <% if project['image'] %>
          <div class="project-card__image-container">
              <%= image_tag project['image'], :class => 'project-card__image' %>
              <div class="project-card__tag-collection">
                <% project['tags'].each do |tag| %>
                  <div class="tag tag--white"><%= tag %></div>
                <% end %>
              </div>
          </div>
        <% end %>
        <div class="project-card__details">
          <h4 class="title"><strong><%= project['name'] %></strong></h4>
          <p class="cl-tertiary"><%= project['description'] %></p>
        </div>
        <div class="project-card__btn-collection">
          <a <% if project['source'] %>href='<%=project['source']%>'<%end%> class="project-card__btn <% if not project['source'] %>project-card__btn--disabled disabled<% end %>">source</a>
          <a <% if project['demo'] %>href='<%=project['demo']%>'<%end%> class="project-card__btn <% if not project['demo'] %>project-card__btn--disabled disabled<% end %>">demo</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
